main{
    flex-direction: column;
}

.about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6vh;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}


.card {
    width: 428px;
    height: 164px;
    border: 1px solid #4241413a;
    border-radius: 30px;
    background-color: #37394c1a;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 30px;
    gap: 20px;
    box-sizing: border-box;
}

.feature-heading {
    font-family: 'Poppins';
    text-align: left;
    color: #d4d4d4;
    font-size: 1.5rem;
}

.feature-description {
    font-family: 'Poppins';
    margin-left: 20px;
    margin-right: 50px;
    text-align: left;
    color: #adadad;
    font-size: 1rem;
}

.robot_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#robot {
    height: 300px;
    filter: saturate(150%) contrast(120%) brightness(80%);
}
.cta{
    padding-left: 20px;
    padding-right: 20px;
}

.text{
    margin-top: 9vh;
    font-size: 3.5rem;
}

.tagline{
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-top: 2vh;
}

@media (max-width: 1280px) {
    .card {
        width: 328px;
        height: 200px;
    }
}

@media (max-width: 1060px) {
    .card {
        width: 250px;
        height: 220px;
    }

    .feature-heading {
        font-size: 1.3rem;
    }

    .feature-description {
        font-family: 'Poppins';
        margin-left: 10px;
        text-align: left;
        color: #adadad;
        font-size: 0.8rem;
    }


}

@media (max-width: 865px) {
    .card {
        width: 200px;
        height: 200px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .feature-heading {
        font-size: 1rem;
    }

    .feature-description {
        font-family: 'Poppins';
        margin-left: 10px;
        text-align: left;
        color: #adadad;
        font-size: 0.7rem;
    }


}

@media (max-width: 768px) {
    
    .text{
        font-size: 2.5rem;
    }

    .tagline{
        font-size: 1.2rem;
    }
    .about{
        flex-direction: column;
        align-items: center;
        gap: 4vh;
    }
   
    .card{
        width: 80vw;
        height: auto;
    }

    .robot_button{
        order: 1;
    }

    .cta{
        width: 80vw;
        margin-bottom: 20px;
        font-size: 1rem;
    }
    #robot{
        height: 200px;
    }
}