main{
  flex-direction: column;
}
.text{
    margin-top: 10vh;
    font-size: 5rem;
}

.tagline{
    font-size: 1.8rem;
    letter-spacing: 5px;
    margin-top: 2vh;
}

.cta {
    margin-top: 10vh;
}

.features{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap : 10vw;

}

.features ul{
    list-style: none;
}

.features li{
    color: #adadad;
    margin-top: 2vh;
    font-family: 'Poppins';
    font-size: 1.5rem;
}

@media (max-width: 936px) {
    .text{
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
  .text{
    font-size: 3.5rem;
  }
  .tagline{
    font-size: 1.3rem;
  }

  .features{
    width: 100%;
    margin-bottom: 5vh;
  }

  .features li{
    font-size: 0.8rem;
    text-align: left;
  }
}


