* {
    margin: 0;
    padding: 0;
    border: 0px;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(../fonts/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}

body {
    background-color: #121422;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0px;
    overflow: hidden;
    background-color: #111320;
    border-bottom: 0.5px solid #34353e;
}

li a.nav {
    color: #b9bbc0;
    float: right;
    padding: 20px;
    text-decoration: none;
    font-family: 'Poppins';
}

li a.logo {
    color: #b9bbc0;
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav:hover {
    background-color: #31313135;
}

img {
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo {
    float: left;
}

.nav.active{
    color: #7f8084;
}



.container {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    /* Allow full width */
    max-width: 1200px;
    /* Optional cap to keep it clean */
}


.text {
    margin-top: 50px;
    display: inline-block;
    /* So width fits text */
    background: linear-gradient(140deg, #33B5D3, #4256AF, #783595);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 72px;
    font-family: 'Roboto';
    text-align: center;
}

.tagline {
    color: #adadad;
    font-size: 24px;
    font-family: 'Roboto-Italic';
    text-align: center;
    letter-spacing: 5px;
    margin-top: 20px;
}

.cta {
    background: linear-gradient(140deg, #33B5D3, #4256AF, #783595);
    background-size: 150% 150%;
    background-position: left;
    color: #d1d1d1;
    padding: 14px 34px;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto-Medium';
    font-size: 25px;
    margin-right: 10px;
    margin-top: 120px;
    cursor: pointer;
    transition: background-position 0.5s ease-in-out;
}

.cta:hover {
    background-position: right;
}

.features {
    display: flex;
    justify-content: center;
    /* Center the two <ul> lists horizontally */
    gap: 400px;
    /* Your desired gap */
    color: #c0c0c0;
    margin-top: 15%;
    flex-wrap: nowrap;
    /* Prevent wrapping to new line */
}

.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.features li {
    font-family: 'Poppins';
    text-align: left;
    margin-bottom: 30px;
    color: #adadad;
    font-size: 24px;
}